service: ms-payment
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs20.x
  stage: ${opt:stage, 'api'}
  region: us-east-1
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:PutItem
            - dynamodb:GetItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
          Resource:
            Fn::GetAtt:
              - CKSPaymentsTable
              - Arn
        - Effect: Allow
          Action:
            - sns:Publish
          Resource:
            Ref: CKSPaymentTopic
        - Effect: Allow
          Action:
            - sqs:ReceiveMessage
            - sqs:DeleteMessage
            - sqs:GetQueueAttributes
            - sqs:SendMessage
          Resource:
            Fn::GetAtt:
              - CKSPaymentQueue
              - Arn
        - Effect: Allow
          Action:
            - secretsmanager:GetSecretValue
          Resource: "*"
        - Effect: Allow
          Action:
            - lambda:InvokeFunction
          Resource: "*"
  environment:
    REGION: ${self:provider.region}
    STAGE: ${self:provider.stage}
    PAYMENT_TOPIC_ARN:
      Ref: CKSPaymentTopic
    PAYMENT_QUEUE_URL:
      Ref: CKSPaymentQueue

package:
  individually: true
  excludeDevDependencies: true
  exclude:
    - node_modules/@aws-sdk/**
    - node_modules/**/@aws-sdk/**

functions:
  generatePaymentProcessor:
    handler: src/adapters/driver/lambda/generate_payment_processor.handler
    memorySize: 128
    events:
      - http:
          path: /v1/payment
          method: POST

  generatePayment:
    handler: src/adapters/driver/lambda/generate_payment.handler
    memorySize: 128
    events:
      - sqs:
          arn:
            Fn::GetAtt:
              - CKSPaymentQueue
              - Arn
          batchSize: 1

  checkPaymentStatus:
    handler: src/adapters/driver/lambda/check_payment_status.handler
    memorySize: 128
    events:
      - http:
          path: /v1/payment/{external_id}
          method: GET

  updatePaymentStatus:
    handler: src/adapters/driver/lambda/update_payment_status.handler
    memorySize: 128

  webhookOrchestratorMP:
    handler: src/adapters/driver/lambda/webhook_orchestrator_mp.handler
    memorySize: 128
    events:
      - http:
          path: /v1/mercadopago/webhook
          method: POST

  fakeSubscriber:
    handler: src/adapters/driver/lambda/fake_subscriber.handler
    memorySize: 128
    events:
      - sns:
          arn: arn:aws:sns:${self:provider.region}:${aws:accountId}:CKSPaymentTopic-${self:provider.stage}

resources:
  Resources:
    CKSPaymentsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: CKS.Payments
        AttributeDefinitions:
          - AttributeName: external_id
            AttributeType: S
        KeySchema:
          - AttributeName: external_id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    CKSPaymentTopic:
      Type: AWS::SNS::Topic
      Properties:
        TopicName: CKSPaymentTopic-${self:provider.stage}

    CKSPaymentQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: CKSPaymentQueue-${self:provider.stage}

plugins:
  - serverless-esbuild
  - serverless-prune-plugin
  - serverless-localstack

custom:
  localstack:
    stages:
      - local
    host: http://localhost
    edgePort: 4566
    autostart: false
  esbuild:
    bundle: true
    minify: true
    target: node20