service: ms-payment
frameworkVersion: '3'

provider:
  name: aws
  runtime: go1.x
  stage: ${opt:stage, 'api'}
  region: us-east-1
  environment:
    REGION: ${self:provider.region}
    STAGE: ${self:provider.stage}
    PAYMENTS_STATUS_TOPIC_ARN:
      Ref: PaymentStatusTopic

package:
  individually: true
  patterns:
    - '!./**'
    - 'bin/**'

functions:
  generatePayment:
    handler: bin/generatePayment
    memorySize: 128
    events:
      - http:
          path: /v1/payment/{external_id}
          method: POST

  checkPaymentStatus:
    handler: bin/checkPaymentStatus
    memorySize: 128
    events:
      - http:
          path: /v1/payment/{external_id}
          method: GET

  updatePaymentStatus:
    handler: bin/updatePaymentStatus
    memorySize: 128

  webhookOrchestratorMP:
    handler: bin/webhookOrchestratorMP
    memorySize: 128
    events:
      - http:
          path: /v1/mercadopago/webhook
          method: POST

resources:
  Resources:
    PaymentsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Payments
        AttributeDefinitions:
          - AttributeName: external_id
            AttributeType: S
        KeySchema:
          - AttributeName: external_id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    PaymentStatusTopic:
      Type: AWS::SNS::Topic
      Properties:
        TopicName: PaymentStatusTopic

plugins:
  - serverless-localstack

custom:
  localstack:
    stages:
      - local
    host: http://localhost
    edgePort: 4566
    lambda:
      executor: docker-reuse
    autostart: false