service: ms-payment
frameworkVersion: '3'

provider:
  name: aws
  runtime: go1.x
  stage: ${opt:stage, 'api'}
  region: us-east-1
  environment:
    REGION: ${self:provider.region}
    STAGE: ${self:provider.stage}

package:
  individually: true
  patterns:
    - '!./**'
    - 'bin/**'

functions:
  generatePayment:
    handler: bin/generate_payment
    memorySize: 128
    events:
      - http:
          path: /v1/payment/{external_id}
          method: POST

  checkPaymentStatus:
    handler: bin/check_payment_status
    memorySize: 128
    events:
      - http:
          path: /v1/payment/{external_id}
          method: GET

resources:
  Resources:
    PaymentsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Payments
        AttributeDefinitions:
          - AttributeName: external_id
            AttributeType: S
        KeySchema:
          - AttributeName: external_id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

plugins:
  - serverless-localstack

custom:
  localstack:
    stages:
      - local
    host: http://localhost
    edgePort: 4566
    lambda:
      executor: docker-reuse
    autostart: false